.vagrant/
node_modules
*.css
!public/**/css/*.css

#Sublime Text Files
proj.*

#Composer Related Files
vendor
composer.phar

#Php Storm Files
.idea
.directory

#storage folder for the app
public/storage
storage

#Compiled files
public/css
public/js
