<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  verbose="false"
  colors="true"
  >

  <testsuites>
    <testsuite name="testing">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="travis_tests">
      <directory>tests</directory>
      <exclude>tests/lib/LoggerTest.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
