@import url('http://fonts.googleapis.com/css?family=Montserrat')
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
@import url('http://fonts.googleapis.com/css?family=Slabo+13px')

$baseColor: #559
$red: #D33
$white: #FFF
$time: .3s

*
  box-sizing: border-box
  outline: none

button::-moz-focus-inner
  border: 0

button:active
  padding: default

.red
  color: $red

.superscript
  display: inline-block
  float: right
  position: absolute
  right: 5rem
  color: #999
  font-size: .6rem
  vertical-align: top
  text-align: right

body
  font-family: 'Montserrat', sans-serif
  font-size: 18px
  background-color: #F9F9F9
  color: #333

button
  background: none
  color: $baseColor
  width: 1.7rem
  font-size: 1rem
  padding-bottom: .1rem
  margin: 0 .2rem
  border: 1px solid $baseColor
  border-radius: .2rem
  cursor: pointer
  transition: background-color $time, color $time

button:hover
  background: $baseColor
  color: #fff

button.red
  border: 1px solid $red

button.red:hover
  color: $white
  background: $red

.block-button
  display: block
  margin: .5rem auto
  font-size: 1.5rem
  height: 1.8rem
  width: 6rem
  line-height: 1rem

  span
    display: inline-block
    line-height: 1rem
    vertical-align: middle

.inline-buttons
  width: auto
  text-align: center
  vertical-align: middle

/**
 * TODO: Refactor Buttons
 */
.inline-button
  display: inline-block
  margin: .5rem auto
  font-size: 1.5rem
  height: 1.8rem
  width: 6rem
  line-height: 1rem

  span
    display: inline-block
    line-height: 1rem
    vertical-align: middle

.container
  position: relative
  top: 0
  left: 0

ul
  margin: 0
  padding: 0

main
  width: 80%
  margin: 0 auto
  height: auto
  background-color: #f3f3f3
  border-radius: .4rem
  border: 1px solid #bbb
  overflow: hidden
  box-shadow: 0 0 3px rgba( 23, 23, 23, .2 )

.blocklist
  display: block

  li
    display: block
    clear: both
    padding: 0
    border-bottom: 1px solid #ddd

    button
      display: block
      float: right

.page_overview
  display: block
  padding: .4rem
  overflow: auto

.blocklist > li:nth-of-type(even)
    background-color: #f3f3f3 - #080808

form
  width: 60%
  overflow: visible
  margin: .5rem auto

  input
    display: block
    padding: .2rem
    margin: .5rem auto
    text-align: center
    font-size: 1rem

input
  font-family: 'Slabo 13px'
  background: none
  border: none
  background-color: #EFEFEF
  border-bottom: 2px solid #888
  transition: border-bottom .4s, background-color .4s, box-shadow .4s

input:focus
  background-color: #EFEFF4
  border-bottom: 2px solid #88f
  box-shadow: 0 0 3px rgba( 45, 45, 120, 0.1 )

.fade
  transition: margin-bottom .5s
  overflow: hidden

.fade.ng-enter
  animation: fadeIn 1s;

.fade.ng-leave
  animation: fadeMinimizeOut 3s;

@keyframes fadeMinimizeOut
  from
    height: 1rem
    opacity: 1
  to
    height: 0px
    opacity: 0