main
  font-family: "Open Sans"

html, body
  height: 100%
  box-sizing: border-box

.carousel
  //height: 35vh
  background-color: #FFF

.slider
  //height: 30rem

.caption
  color: #FFF
  display: inline-block
  font-size: 3rem
  font-weight: bold
  text-align: center
  text-shadow: 2px 2px 1px rgba( 0,0,0, 0.4)

  position: relative
  top: 0
  left: 0
  cursor: default
  height: 35rem
  width: 100%
  background-repeat: no-repeat
  background-position: center center
  background-size: cover

  p
    position: relative
    top: 40%
    display: inline-block
    margin-bottom: -50%
    word-wrap: break-word
    white-space: normal
    width: 60vw

.landing-header
  color: #FFF
  text-shadow: 1px 1px 1px #555
  background: linear-gradient( #668baa, #5c7f9b)
  padding: 2rem 0
  //border-bottom: solid 4px #3e4c83
  h1
    margin-top: 0px

  @media all and (max-width: 992px)
    h1
      margin-top: 15px

  img
    border-radius: .3rem
    //border: 1px solid rgba( 15, 15, 15, .1 )
    //box-shadow: 0 0 .5rem rgba(0,0,0, 0.1)

.landing-description
  background: none !important
  text-shadow: none
  p
    font-size: 1.2em
    word-wrap: break-word
    text-align: justify
    padding-right: 5.5vw

  @media all and (max-width: 992px)
    p
      text-align: center

.triptic
  background-color: #FFF
  padding: 3rem 0

.landing-form
  background-color: #FFF
  padding: 3rem 0
  text-align: center

  h3
    font-weight: bold
    padding-bottom: 1rem
    text-align: center

.valing-middle
  vertical-align: middle

.align-always
  text-align: center
  img
    display: inline-block

@media all and (max-width: 992px )
  .align-md
    text-align: center

    img
      display: inline-block

.fill
  height: 100%
  min-height: 100%

@media all and (min-width: 992px )
  .align-right
    p, h1
      text-align: right
      padding-right: 0
