<main class="container" ng-controller="LandingEditController">

  <div class="container inline_inputs">
    <form action="">
      <div class="inline_input">
        <span>Landing Name</span>
        <input type="text" ng-model="landing.name"/>
      </div>
      <div class="inline_input">
        <span>Title</span>
        <input type="text" ng-model="landing.title"/>
      </div>
      <div class="inline_input">
        <span>Description</span>
        <textarea name="" id="" cols="10" rows="3" ng-model="landing.description"></textarea>
      </div>
      <div class="inline_input">
        <span>Email</span>
        <input type="text" ng-model="landing.owner"/>
      </div>
    </form>
  </div>

  <div class="container inline_inputs">
    <div class="inline_input">
      <button class="inline_button"><span>Añadir Bloque...</span></button>
    </div>
  </div>

</main>