<main class="container" ng-controller="LandingEditController">

  <div class="container inline_inputs">

    <div class="modal" ng-show="showAddBlockOverlay">
      <div class="window">
        <div class="title">
          <span>Añadir nuevo...</span>
          <button ng-click="closeOverlay()"><span class="fa fa-close"></span></button>
        </div>
        <div class="content">
<!--          <button class="block-button">
            <span>Formulario</span>
          </button>-->
          <button class="block-button" ng-click="addThreeColumns()">
            <span>Triptico</span>
          </button>
        </div>
      </div>
    </div>

    <form >
      <div class="inline_input">
        <span>Landing Name</span>
        <input type="text" ng-model="landing.name"/>
      </div>
      <div class="inline_input">
        <span>Title</span>
        <input type="text" ng-model="landing.title"/>
      </div>
      <div class="inline_input">
        <span>Description</span>
        <textarea name="" cols="10" rows="3" ng-model="landing.description"></textarea>
      </div>
      <div class="inline_input">
        <span>Email</span>
        <input type="text" ng-model="landing.owner"/>
      </div>
      <div class="inline_input">
        <span>Logo</span>
        <input type="file"/>
      </div>
      <div class="inline_input">
        <span>Logo: </span>
        <img ng-Ensure-Is-Loaded src="{{ landing.logo }}" alt=""/>
      </div>
      <div class="inline_input">
        <button ng-click="updateLanding($event)">
          <span class="fa fa-save"></span>
          <span class="button-text">Guardar cambios</span>
        </button>
        <a target="_blank" href="{{ landing.name }}">
          <div class="button">
            <span class="fa fa-external-link"></span>
            <span class="button-text">Ver landing...</span>
          </div>
        </a>
      </div>
    </form>

    <form ng-repeat="card3col in landing.cards.cardThreeColumns track by card3col.id" ng-if="landing.cards.cardThreeColumns" class="padding">
      <div class="container">
        <h3>Columna 1</h3>
        <div class="column_input column-3">
          <span>Titulo 1</span>
          <input ng-model="card3col.fieldTitle[1]" type="text"/>
        </div>
        <div class="column_input column-4">
          <span>Texto</span>
          <textarea ng-model="card3col.fieldText[1]" name="" cols="15" rows="3"></textarea>
        </div>
        <div class="column_input column-3">
          <span>Imagen...</span>
          <img ng-Ensure-Is-Loaded ng-if="card3col.fieldImage[1]" src="storage/{{landing.id}}/small_{{card3col.fieldImage[1]}}.jpg" alt=""/>
          <input ng-model="card3col.fieldImage[1]" type="file"/>
        </div>
      </div>
      <div class="container">
        <h3>Columna 2</h3>
        <div class="column_input column-3">
          <span>Titulo 1</span>
          <input ng-model="card3col.fieldTitle[2]" type="text"/>
        </div>
        <div class="column_input column-4">
          <span>Texto</span>
          <textarea ng-model="card3col.fieldText[2]" name="" cols="15" rows="3"></textarea>
        </div>
        <div class="column_input column-3">
          <span>Imagen...</span>
          <img ng-Ensure-Is-Loaded ng-if="card3col.fieldImage[2]" src="storage/{{landing.id}}/small_{{card3col.fieldImage[2]}}.jpg" alt=""/>
          <input type="file"/>
        </div>
      </div>
      <div class="container">
        <h3>Columna 3</h3>
        <div class="column_input column-3">
          <span>Titulo 1</span>
          <input ng-model="card3col.fieldTitle[3]" type="text"/>
        </div>
        <div class="column_input column-4">
          <span>Texto</span>
          <textarea ng-model="card3col.fieldText[3]" name="" cols="15" rows="3"></textarea>
        </div>
        <div class="column_input column-3">
          <span>Imagen...</span>
          <img ng-Ensure-Is-Loaded ng-if="card3col.fieldImage[3]" src="storage/{{landing.id}}/small_{{card3col.fieldImage[3]}}.jpg" alt=""/>
          <input type="file" />
        </div>
      </div>
      <button class="lf-padding-3" ng-click="updateCard(card3col, $event)" ng-disabled="uploadingLanding"><span>Actualizar</span></button>
      <button class="red lf-padding-3" ng-click='deleteCard($event, card3col)' ng-disabled="uploadingLanding"><span class="fa fa-trash"></span></button>
    </form>
  </div>

  <div class="container">
      <button class="block-button" ng-click="addBlock()">
        <span>Añadir Bloque...</span>
      </button>
  </div>

</main>
